.form_content {
    margin: 25px auto;
    padding: 0;
    list-style-type: none;
    width: 238px;
}

@media screen and (min-width: 880px) {
    .form_content {
        width: 358px;
        margin: 35px auto;
    }
}