.popup__close-button {
    margin: 0;
    background-color: #000;
    background-image: url(../../../image/popup/Close\ Icon.svg);
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -36px;
    right: 0;
    width: 20px;
    min-height: 20px;

}

.popup__close-button:hover {
    opacity: 0.6;
}
@media screen and (min-width: 880px) {
    .popup__close-button {
        width: 32px;
        min-height: 32px;
        right: -36px;
    }
}