.photo-grid__like-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 22px;
    min-height: 19px;
    align-self: center;
    background-image: url(../../../image/elements/disabled.svg);
}

.photo-grid__like-button:hover {
    opacity: 0.6;
}
.photo-grid__like-button:active {
    background-image: url(../../../image/elements/active.svg);
}